
@import "/components/_Header";
@import "/components/_Footer";
@import "/components/_Main";
@import "/components/_Repositor";

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
