header{
  background: #121d2c;
  height: 140px;
  margin-bottom: 20px;
  a{
    text-decoration: none;
    color:white;
  }
  h1{
    padding: 2%;
    color: gray;
  }
  .pagetogo{
    float: right;
    margin-right:5%;
    font-size: 20px;
    border: 1px solid gray;
    background-color: gray; 
    border-radius: 5px;
    padding: 2px;  
  }
  .header{
    padding-top: 18px;
    padding-left: 43px;
    padding-right: 26px;
    //display: flex;
    //flex-direction: row;
    //justify-content: space-between;
    
  }
  hr{
    margin-top: 45px;
  }

}