* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}
body {
    font: 13px 'Roboto', sans-serif;
    //font: 13px Helvetica, Arial;
}
.main-wrapper{
    width: 100%;
     background: #121d2c;
    .centered{
        width: 996px;
        margin: 0 auto;
    }
}
.container{
    .pages{
        margin: 0 auto;
        font-size: 18px;
        display: table; 
        margin-bottom:10px;
        
        a{
            color:rgb(255, 255, 255);
            :hover{
                color:red;
            }
            :active{
                color:red;
            }
            :focus{
                color:red;
            }
            ::before{
                content:" ";
            }
        } 
    }
}