* { 
    margin: 0; padding: 0; box-sizing: border-box; 
}
body {
    font: 13px 'Roboto', sans-serif;
    //font: 13px Helvetica, Arial;
    
}
.main-wrapper{
    width: 100%;
     background: #121d2c;
    .centered{
        width: 996px;
        margin: 0 auto;
    }
}
.container{
    height: 100%;
    .all-repos{
        margin-top: 20px;
    }
    .sortdiv{
        width: 14%;
        margin: 0 auto;
    .sort{
        width: 50px;
        height: 30px;
        background: gray;
        color: white;
        font-size: 15px;
        float: left;  
        margin-left: 5px;
    }
    .sortp{
        text-align: center;
        color: white;
        font-size: 15px; 
        float: left;
        padding-top: 4px;
    }
    }
    .pages{
        margin: 0 auto;
        font-size: 18px;
        display: table; 
        margin-bottom:10px;
        
        a{
            color:rgb(255, 255, 255);
            :hover{
                color:red;
            }
            :active{
                color:red;
            }
            :focus{
                color:red;
            }
            ::before{
                content:" ";
            }
        } 
    }
}